.button {
    background-color: var(--blue-700);
    padding: 1rem;
    font-size: var(--font-400);
    color: var(--gray-100);
    font-weight: bold;

    border-radius: 0.5rem;

    &:hover {
        background-color: var(--blue-500);
    }
}
